.c-chrono {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.c-scroll {
    width: 70vw;
    height: 60vh;
    margin-bottom: 50px;
}

.c-toggle {
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 40px;
    border: 4px solid white;
    cursor: pointer;
}

.flip {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background-color: white;
    width: 9px;
    height: 50px;
    cursor: pointer;
}