.b-house__card{
    object-fit: cover;
    height: 450px;
    width: 350px;
    gap: 30px;
    
}

.b-house__name{
 color: #fff;
 
}

.b-house__name{
    font-weight: 300;
}


.b-house__image{
    object-fit: cover;
    height: 450px;
    width: 350px;
}