.c-detail {
    background-color: #000; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 80vh;

    &--details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }
}