.character-gallery__container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    padding: 0 10%;
    justify-content: center;
    max-height: calc(100vh - 104px - 118px);
}

.c-scroll-characters {
    width: calc(100vw - 20px);
    height: 60vh;
    margin-bottom: 50px;
}
